/*---------------------*/
/* GENERAL */
/*---------------------*/

/*Déclaration police*/
@font-face 
{
    font-family: "WorkSans-Regular";
    src: url('fonts/WorkSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    width: 1200px;
    margin: auto;
    font-family: "WorkSans-Regular", Tahoma, sans-serif ;
}
h1, h2, h3, h4, p{
    color:#3d4246;
}
body a:hover{
    text-decoration: underline;
}

/*---------------------*/
/* ENTETE */
/*---------------------*/
header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f5f5f5;
    padding: 15px 0 15px 0;
}
.menu{
    margin-left: 1%;
}
nav{
    margin-right: 5%;
}
ul{
    display: flex;
    list-style: none;
    padding: 0;
}
ul li:first-child{
    padding-right: 22px;
}
ul a{
    text-decoration: none;
    color:#3d4246;
}
.menu{
    display: flex;
}
.menu img{
    margin: auto;
    width: 15%;
}
.menu a{
    text-decoration: none;
}
.menu h1{
    font-size: 1.2em;
    text-transform: uppercase;
    /*margin: auto;*/
}
.imgmenu{
    margin:auto;
    width: 8em;
}
.imgmenu img{
    height: 20px;
}
.imgmenu img:first-child{
    padding-right: 20px;
}

/*---------------------*/
/* SECTION MAIN */
/*---------------------*/

.main{
    text-align: center;
    margin: 65px 0 56px 0;
}
.main h1{
    font-size: 2em;
}
.main a{
    color: #557b97;
}

/*---------------------*/
/* SECTION TABLEAU */
/*---------------------*/

#tableau{
    width: 85%;
    margin: auto;
}
#tableau p{
    color: #69727b;
}
.tailletableau a{
    color: #557b97;;
}
.tailletableau{
    width: 100%;
    border-bottom: 1px solid #f5f5f5;
    padding:18px 0 31px 0;
    color: #3d4246;
}
.cellule1{
    width: 13%;
}
.cellule1 img{
    width: 90px;
}
.celluleD input{
    width: 48px;
    height: 33px;
    text-align: center;
}
.celluleC{
    width: 13%;
    font-size: 0.9em;
}
.taillepolice{
    font-size: 0.85em;
}
.celluleD{
    text-align: right;
    width: 115px;
    font-size: 0.9em;
}
.total{
    text-align: right;
    margin-top: 33px;
}
.total table{
    width: 100%;
    text-align: right;
    font-size: 1.2em;
}
.soustotal{
    font-size: 0.8em;
    color:#69727b;
}
.prixtotal{
    width: 140px;
    color:#69727b;
    font-size: 0.8em;
}
.liens{
    margin: 50px 0 55px 0;
}
.liens a{
    background-color: #4b7C99;
    color: white;
    font-size: 0.83em;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 2px;
    padding: 9px 14px 9px 14px;
    margin-right: 5px;
}

/*---------------------*/
/* PIED DE PAGE */
/*---------------------*/

footer{
    background-color: #f5f5f5;
}
#piedpage{
    display: flex;
    width: 85%;
    margin: auto;
    padding-top: 34px;
}
.liensrapide{
    flex-direction: column;
    display: flex;
    width: 273px;
}
.liensrapide a{
    text-decoration: none;
    margin-bottom: 5px;
    color: #3d4246;
}
.info{
    width: 217px;
    color: #3d4246;
}
.newsletter{
    padding-left: 38px;
}
.mail{
    width: 355px;
    height: 36px;
    padding-left: 3%;
    font-size: 1em;
}
.inscription{
    background-color: #4b7C99;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 2px;
    padding: 9px 23px 14px 23px;
    position: relative;
    right: 10px;
    bottom: 2px;
}
.signature{
    width: 85%;
    margin: auto;
    padding-bottom: 35px;
    font-size: 0.75em;
}
.separation{
    border: 1px solid #E8E8E8;
    margin: 92px 0 26px 0;
}

/* popin */

.popin{
    position:fixed; /* Je positionne la popin par rapport au coin supérieur gauche de l'écran (elle sort du flux) */
    top:0;
    left:0;
    width:100%; /* Je lui fait prendre toute la largeur de l'écran*/
    height:100%; /* Je lui fait prendre toute la hauteur de l'écran*/
    box-sizing:border-box;
    background-color:rgba(0,0,0,0.5); /* J'appliquer une couleur noire transparente */;
  }
  
  .popin .box{
    position:absolute; /* Je positionne la box par rapport a la balise parente */
    max-width:500px; /* Je lui défini une taille */
    width:100%;
    height:300px;
    background-color:#ffffff;
    padding:50px;
    top:0; /* Je lui défini qu'elle doit être situé à 0 px du haut, de la gauche, de la droite et du bas */
    left:0;
    right:0;
    bottom:0;
    margin:auto; /* Le poistionnement plus le margin:auto; permet de centrer la box */
    box-sizing:border-box;
  }
  
  .popin .close{
    position:absolute; /* Je positionne la croix par rapport a son parent (la .box) */
    top:25px;
    right:25px;
    width:20px;
    height:20px;
    background:url('./images/croix.svg') no-repeat center center/20px 20px;
    cursor:pointer;
  }
  .popin .close:active{ 
    outline:none;/* Je supprime l'effet de bordure bleu avec ombre quand je click sur la croix */
  }
  
  .popin h2{
    margin-bottom:30px;
    font-weight:normal;
    text-align:center;
  }
  
  .popin input{
    width:100%;
    height:40px;
    padding-left:15px;
    padding-right:15px;
    margin-bottom:20px;
    border:1px solid #cccccc;
    border-radius:2px;
    box-sizing:border-box;
  }
  
  .popin .button {
    display:block;
    width:50%;
    margin:auto;
  }

/*---------------------*/
/* MEDIA QUERIES */
/*---------------------*/

/* Résolution maxi 550px */
@media all and (min-width: 300px) and (max-width: 550px){
    body{
        width: 100%; 
    }

    /* Entête */
    header{
        flex-direction: column;
        align-items: center;
    }
    .menu{
        text-align: center;    
    }
    nav{
        margin: 0;
    }

    /* Section tableau */
    .tailletableau img{
        display: none;
    }
    .cellule1{
        width: 0;
    }
    .produit{
        width: 34%;
    }
    .celluleVide{
        width: 21%;

    }
    .cellule3{
        width: 22%;
        text-align: right;
    }
    .total p{
        text-align: center;
    }
    .liens{
        display: flex;
        justify-content: center;
    }
    .liens a{
        text-align: center;
    }

    /* Footer */
    #piedpage{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .liensrapide{
        text-align: center;
    }
    .info{
        text-align: center;
    }
    .newsletter{
        text-align: center;
    }
    .mail{
        width: 100%;
    }
    .signature{
        width: 100%;
        text-align: center;
    }
}

/* Résolution entre 551px et 900px maxi */
@media all and (min-width: 551px) and (max-width: 900px)
{
    /* Général */
    body{
        width: 100%;
    }
    /* Footer */
    #piedpage{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .liensrapide{
        text-align: center;
    }
    .info{
        text-align: center;
    }
    .newsletter{
        text-align: center;
    }
    .mail{
        width: 100%;
    }
    .signature{
        width: 100%;
        text-align: center;
    }
    
}

/* Résolution entre 901px et 1600px maxi */
@media all and (min-width: 901px) and (max-width: 1600px)
{
    /* Général */
    body{
        width: 100%;
    }
    /* Footer */
    #piedpage{
        justify-content: space-between;
    }
}

/* Résolution 1601px minimum */
@media all and (min-width: 1601px){

    /* Général */
    body{
        width: 100%;
        font-size: 2em;
    }

    /* Entête */
    header a{
        width: 100%;
    }
    .imgmenu img{
        height: 31px;
    }

    /* Section tableau */
    .cellule1 img{
        width: 100%;
    }
    .produit{
        padding-left: 65px;
    }
    .prixtotal{
        width: 243px;
    }
    /* Footer */
    #piedpage{
        width: 100%;
        justify-content: space-around;
    }
    .liensrapide{
        width: 100%;
        text-align: center;
    }
    .info{
        width: 100%;
    }
    .newsletter{
        width: 100%;
        padding-left: 100px;
    }
    .mail{
        height: 55px;
    }
}
